.banner {
  background: color(blue, matisse);
  background: url("../img/marcas2.png") repeat-x left calc(100% - 210px), linear-gradient(
      to bottom, color(blue, matisse) calc(100% - 170px),
      color(mono, white) calc(100% - 170px));
  height: 420px;
  padding-top: 20px;
  background-size: auto 40px, cover;

  @include media(">=tablet") {
    background: url("../img/marcas2.png") repeat-x left calc(100% - 80px), linear-gradient(
      to bottom, color(blue, matisse) calc(100% - 60px),
      color(mono, white) calc(100% - 60px));
    background-size: auto 39px, cover;
    height: 280px;
    padding-top: 30px;
  }

  @include media(">=desktop") {
    background: url("../img/marcas2.png") repeat-x left calc(100% - 100px), linear-gradient(
      to bottom, color(blue, matisse) calc(100% - 85px),
      color(mono, white) calc(100% - 85px));
    height: 360px;
    padding-top: 50px;
  }

  @include media(">=wide") {
    background: url("../img/marcas2.png") repeat-x left calc(100% - 140px), linear-gradient(
      to bottom, color(blue, matisse) calc(100% - 115px),
      color(mono, white) calc(100% - 115px));
    background-size: auto 49px, cover;
    height: 460px;
    padding-top: 50px;
  }

  > .container {
    display: flex;
    flex-direction: column;

    @include media(">=tablet") {
      flex-direction: row;
    }
  }

  &__img {
    flex: .6;
    order: 1;

    @include media(">=tablet") {
      // flex: .65;
      order: 0;
    }
  }

  &__text {
    flex: .4;

    @include media(">=tablet") {
      // flex: .35;
      order: 0;
    }
  }

  &__title {
    color: color(mono, white);
    font-size: 22px;
    font-weight: fw("semibold");
    line-height: 1.5;
    text-align: center;

    @include media(">=tablet") {
      font-size: 24px;
      line-height: 1.3;
      text-align: left;
    }

    @include media(">=desktop") {
      font-size: 34px;
      line-height: 1;
      margin-top: 30px;
    }

    @include media(">=wide") {
      font-size: 42px;
    }

    span {
      background-color: color(mono, white);
      border-radius: 5px;
      color: color(blue, matisse);
      display: inline-block;
      font-size: 18px;
      line-height: 1;
      padding: 2px 15px;
      text-transform: uppercase;

      @include media(">=tablet") {
        font-size: 20px;
      }

      @include media(">=desktop") {
        font-size: 24px;
      }
    }
  }
}