.breadcrumb {
  padding: 10px 0;

  &__item {
    color: color(gray, dove-gray);
    font-size: 16px;
    letter-spacing: ls(50, 16);
    padding-right: 15px;
    position: relative;
    text-decoration: none;

    &::after {
      content: "/";
      display: inline-block;
      position: relative;
      right: -10px;
    }

    &:last-child {
      &::after {
        display: none;
      }
    }

    @include media(">=desktop") {
      font-size: 24px;
      letter-spacing: ls(50, 16);
    }

    @at-root {
      a#{&} {
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}