.button {
  background-color: color(blue, matisse);
  border-radius: 5px;
  color: color(mono, white);
  cursor: pointer;
  font-size: 22px;
  font-weight: fw("regular");
  padding: 18px 45px;
  text-align: center;
  text-transform: uppercase;
  transition: background-color .2s ease;

  &:focus {
    outline: 1px dashed color(mono, white);
    outline-offset: -5px;
  }

  &:hover {
    background-color: darken(color(blue, matisse), 15%);
  }

  &:disabled {
    background-color: lighten(color(blue, matisse), 48%);
    cursor: default;
  }

  &--gray {
    background-color: color(gray, nobel);

    &:hover {
      background-color: darken(color(gray, nobel), 15%);
    }
  }

  &--xs {
    border-radius: 8px;
    font-size: 13px;
    padding: 5px 12px;
  }

  &-group {
    display: flex;
    flex-direction: column;

    @include media(">=tablet") {
      flex-direction: row;
    }

    .button {
      font-size: 16px;
      padding-left: 30px;
      padding-right: 30px;

      @include media(">=desktop") {
        font-size: 18px;
      }

      &:first-child {
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;

        @include media(">=tablet") {
          border-bottom-left-radius: 5px;
          border-bottom-right-radius: 0;
          border-top-left-radius: 5px;
          border-top-right-radius: 0;
          flex: 1;
        }
      }

      &:last-child {
        border-top-left-radius: 0;
        border-top-right-radius: 0;

        @include media(">=tablet") {
          border-bottom-left-radius: 0;
          border-top-right-radius: 5px;
          flex: 1;
        }
      }
    }
  }
}