.contact {
  &__text {
    color: color(blue, matisse);
    display: block;
    font-weight: fw("semibold");
    margin-bottom: 20px;
    font-size: 16px;
    text-align: center;

    @include media(">=tablet") {
      text-align: left;
    }

    @include media(">=desktop") {
      font-size: 18px;
    }
  }

  &__social {
    display: flex;
    justify-content: center;

    @include media(">=tablet") {
      justify-content: flex-start;
    }

    li {
      margin-right: 40px;

      &:last-child {
        margin-right: 0;
      }
    }

    svg {
      height: 42px;

      path {
        fill: color(blue, matisse);
        transition: .25s ease-in-out;
      }

      &:hover {
        path {
          fill: darken(color(blue, matisse), 15%);
        }
      }
    }
  }

  .form {
    padding: 40px 0;

    @include media(">=desktop") {
      padding: 50px 0 70px;
    }
  }
}