.depo {
  .slick-slide {
    height: auto;
  }

  &__item {
    padding: 0 30px;

    @include media(">=tablet") {
      padding: 0 40px;
    }

    @include media(">=wide") {
      padding: 0 170px;
    }
  }

  &__text,
  &__author {
    color: color(gray, gray);
    font-size: 18px;
    font-style: italic;

    @include media(">=desktop") {
      font-size: 24px;
    }
  }

  &__author {
    margin-top: 30px;
    text-align: right;
  }

  &__arrow {
    background: transparent;
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 14px;

    @include media(">=tablet") {
      width: 20px;
    }

    @include media(">=wide") {
      width: 22px;
    }

    &--prev {
      left: 0;
      transform: translateY(-50%) scaleX(-1);
    }

    &--next {
      right: 0;
    }
  }
}