.feature {
  &__item {
    background-color: color(blue, matisse);
    background-size: cover;
    background-position: right center;
    background-repeat: no-repeat;
    height: 220px;
    position: relative;

    &::before {
      background: rgba(color(blue, matisse), .4);
      content: "";
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;

      @include media(">=desktop") {
        display: none;
      }
    }

    @include media(">=desktop") {
      background-position: 78% center;
      background-size: contain;
      height: 300px;
    }

    .row {
      align-items: center;
      height: 100%;
    }

    &--white {
      background-color: color(mono, white);
      background-position: -300px center;

      @include media(">=tablet") {
        background-position: -22% center;
      }

      @include media(">=desktop") {
        background-position: -140px  center;
      }

      @include media(">=wide") {
        background-position: 20% center;
      }

      .feature__title {
        // color: color(blue, matisse);
        text-align: left;

        @include media(">=desktop") {
          color: color(blue, matisse);
        }

        @include media(">=desktop") {
          margin-left: initial;
          margin-right: auto;
        }
      }
    }
  }

  &__title {
    align-self: center;
    color: color(mono, white);
    display: flex;
    font-size: 20px;
    font-style: italic;
    font-weight: fw("light");
    text-shadow: 0 0 1px rgba(color(mono, black), .6);

    @include media(">=desktop") {
      text-align: right;
      margin-left: auto;
      text-shadow: none;
    }

    @include media(">=desktop") {
      font-size: 34px;
      max-width: 400px;
    }

    // @include media(">=wide") {
    //   font-size: 48px;
    // }
  }
}