.form {
  .input {
    border-radius: 10px;
    border: 2px solid color(blue, matisse);
    padding: 5px 15px;
    width: 100%;

    @include placeholder {
      color: color(gray, dove-gray);
      font-style: italic;
    }

    &-group {
      align-items: stretch;
      display: flex;
      flex-wrap: wrap;
      position: relative;
      width: 100%;

      .input {
        border-bottom-right-radius: 0;
        border-top-right-radius: 0;
        flex: 1 1 auto;
        font-weight: fw("light");
        margin-bottom: 0;
        position: relative;
        width: 1%;
      }

      button {
        background-color: color(mono, white);
        border-bottom-right-radius: 10px;
        border-top-right-radius: 10px;
        color: color(blue, matisse);
        cursor: pointer;
        font-weight: fw("semibold");
        padding: 0 15px;
        text-transform: uppercase;
        transition: background-color .2s ease;

        &:hover {
          background-color: darken(color(mono, white), 10%);
        }

        @include media(">=wide") {
          padding: 0 40px;
          font-size: 26px;
        }
      }
    }
  }

  &__control {
    margin-bottom: 15px;
    position: relative;

    &--icon {
      .input {
        padding-right: 60px;
      }

      button {
        background-color: transparent;
        position: absolute;
        right: 15px;
        top: 10px;
        width: 24px;

        @include media(">=desktop") {
          width: 32px;
        }

        &:hover {
          cursor: pointer;
        }
      }
    }
  }

  &__label {
    display: block;
    font-size: 16px;
    margin-bottom: 15px;
    text-transform: uppercase;
    letter-spacing: ls(150, 16);

    @include media(">=wide") {
      font-size: 18px;
      letter-spacing: ls(150, 18);
    }
  }
}