.nav {
  background-color: color(blue, matisse);
  display: flex;
  height: 80px;
  left: 0;
  padding: 10px 0;
  position: fixed;
  top: 0;
  transition: .15s ease-in-out;
  width: 100%;
  z-index: z("fixed");

  @include media(">=desktop") {
    height: 100px;
    padding: 15px 0;
  }

  &__logo {
    margin-top: 15px;
    width: 90px;

    @include media(">=desktop") {
      margin-top: 0;
      display: inline-block;
      width: 120px;

      path {
        fill: white;
      }
    }
  }

  > .container {
    align-items: center;
    display: flex;
    justify-content: center;

    @include media(">=desktop") {
      justify-content: flex-start;
    }
  }

  &--scrolling {
    background-color: color(mono, white);
    box-shadow: 0 1px 5px 2px rgba(color(mono, black), .3);
    height: 64px;

    .nav__logo {
      margin-top: 0;
      width: 70px;
    }

    @include media(">=desktop") {
      padding: 0;

      .menu__link {
        color: color(blue, matisse);
      }

      .menu__item--icon {
        svg {
          fill: color(blue, matisse);
        }
      }

      .nav__logo {
        width: 80px;

        path {
          fill: color(logo, matisse);
        }
      }
    }

    .menu-icon {
      top: 12px;

      span {
        background-color: color(blue, matisse);

        &::before,
        &::after {
          background-color: color(blue, matisse);
        }
      }

      &--open {
        span {
          background-color: transparent;
        }
      }
    }
  }
}