.section {
  background-color: color(mono, white);
  padding: 40px 0;

  @include media(">=desktop") {
    padding: 85px 0;
  }

  &__content {
    padding-bottom: 40px;

    p {
      color: color(gray, dove-gray);
      margin-bottom: 25px;
      line-height: 1.5;
      font-size: 16px;

      // @include media(">=desktop") {
      //   font-size: 22px;
      // }
    }

    a {
      color: color(blue, matisse);
      text-decoration: underline;
    }
  }

  &__title {
    color: color(blue, matisse);
    font-size: 22px;
    font-weight: fw("semibold");
    margin-bottom: 25px;

    @include media(">=desktop") {
      font-size: 32px;
    }

    &--big {
      font-size: 28px;
      font-weight: fw("semibold");

      @include media(">=desktop") {
        font-size: 38px;
      }
    }

    &--center {
      text-align: center;
    }

    &--right {
      text-align: right;
    }

    &--mb-0 {
      margin-bottom: 0;
    }
  }

  &__subtitle {
    color: color(gray, dove-gray);
    font-size: 16px;
    letter-spacing: ls(50, 22);
    line-height: 1.3;

    @include media(">=desktop") {
      font-size: 18px;
    }

    &--center {
      text-align: center;
    }
  }

  &__description {
    color: color(blue, matisse);
    font-size: 18px;
    margin-bottom: 15px;

    @include media(">=desktop") {
      font-size: 28px;
      margin-bottom: 30px;
    }
  }

  &__text {
    color: color(gray, dove-gray);
    font-size: 16px;

    @include media(">=desktop") {
      font-size: 20px;
    }
  }

  &__video {
    margin: 30px auto;
    max-width: 970px;
  }

  &--pb-0 {
    padding-bottom: 0;
  }

  &--pt-0 {
    padding-top: 0;
  }

  &--gray {
    background-color: color(gray, gallery);
  }

  &--big {
    padding: 100px 0;
  }
}