.section {
  background-color: color(mono, white);
  padding: 40px 0;

  @include media(">=desktop") {
    padding: 70px 0;
  }

  &__title {
    color: color(blue, matisse);
    font-size: 22px;
    font-weight: fw("semibold");
    margin-bottom: 25px;

    @include media(">=desktop") {
      font-size: 36px;
    }

    &--big {
      font-size: 28px;
      font-weight: fw("semibold");

      @include media(">=desktop") {
        font-size: 48px;
      }
    }

    &--center {
      text-align: center;
    }

    &--right {
      text-align: right;
    }
  }

  &__subtitle {
    color: color(gray, dove-gray);
    font-size: 16px;
    letter-spacing: ls(50, 22);
    line-height: 1.5;

    @include media(">=desktop") {
      font-size: 22px;
    }

    &--center {
      text-align: center;
    }
  }

  &__text {
    color: color(gray, dove-gray);
    font-size: 16px;

    @include media(">=desktop") {
      font-size: 32px;
    }
  }

  &--pb-0 {
    padding-bottom: 0;
  }

  &--pt-0 {
    padding-top: 0;
  }

  &--gray {
    background-color: color(gray, gallery);
  }
}