@import 'vendors/all';
@import 'variables/all';
@import 'base/all';
@import 'abstracts/all';
@import 'components/all';

html, body {
  font-family: $titillium;
  height: 100%;
  margin: 0;
  padding: 0;
}

.page {
  &-content{
    margin-top: 100px;
    flex: 1;
  }

  &-top {
    background: url("../img/marcas.png") repeat-x left calc(100% - 20px) color(blue, matisse);
    background-size: auto 45px, cover;
    height: 100px;
  }

  &-wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;
  }
}

img {
  max-width: 100%;
}

.hidden {
  display: none !important;
}

.search {
  &__form {
    .input {
      font-size: 18px;
      font-weight: fw("light");
      padding-bottom: 10px;
      padding-top: 10px;

      .icon {
        fill: color(blue, matisse);
      }

      @include media(">=desktop") {
        font-size: 24px;
      }
    }
  }
}

.lead {
  &__item {
    text-align: center;
    margin-bottom: 45px;

    @include media(">=tablet") {
      margin-bottom: 0;
    }
  }

  &__img {
    height: 60px;
    margin-bottom: 15px;
    max-width: 60px;

    @include media(">=desktop") {
      height: 100px;
      margin-bottom: 25px;
      max-width: 100px;
    }
  }

  &__title {
    color: color(blue, matisse);
    font-size: 22px;
    font-weight: fw("semibold");
    margin-bottom: 15px;

    @include media(">=desktop") {
      font-size: 28px;
      margin-bottom: 25px;
    }
  }

  &__text {
    font-size: 16px;
    color: color(gray, dove-gray);
    letter-spacing: ls(50, 22);

    @include media(">=desktop") {
      font-size: 22px;
    }
  }

  .section__title {
    margin-bottom: 40px;

    @include media(">=desktop") {
      margin-bottom: 80px;
    }
  }
}

.how {
  .video {
    border-radius: 10px;
    overflow: hidden;
    max-width: 1120px;
    margin: 0 auto;
  }
}

.meet {
  .autobroker {
    margin-bottom: 40px;
    margin-top: 40px;

    @include media(">=desktop") {
      margin-bottom: 85px;
      margin-top: 85px;
    }
  }
}

.grid {
  &__footer {
    padding-top: 40px;

    .button-group {
      margin: 0 auto;
      max-width: 470px;
    }
  }

  &-filter {
    &__input {
      margin-bottom: 15px;
    }

    @include media(">=tablet") {
      display: flex;
      flex: 1;

      .grid-filter__input {
        border-radius: 0;
        margin: 0 -1px;

        &:first-child {
          border-bottom-left-radius: 10px;
          border-top-left-radius: 10px;
        }

        &:last-child {
          border-bottom-right-radius: 10px;
          border-top-right-radius: 10px;
        }
      }
    }
  }

  &-search {
    @include media(">=tablet") {
      margin-bottom: 40px;
      
      .form__control {
        flex: .6;
      }
    }

    @include media(">=desktop") {
      display: flex;

      .form__control {
        margin-right: 10px;
      }
    }
  }
}

.franqueado {

  @include media(">=tablet") {
    background: -190px 150px / contain no-repeat url("../img/seja-franqueado.jpg");
  }

  @include media(">=desktop") {
    background: center 150px / contain no-repeat url("../img/seja-franqueado.jpg");
  }

  @include media(">=wide") {
    padding-bottom: 210px;
  }

  &__title {
    color: color(blue, matisse);
    font-size: 26px;
    font-weight: fw("bold");
    margin-bottom: 25px;

    @include media(">=desktop") {
      font-size: 44px;
    }
  }

  &__form-title {
    color: color(blue, matisse);
    font-size: 26px;
    font-weight: fw("bold");
    margin-bottom: 25px;

    @include media(">=desktop") {
      font-size: 44px;
    }
  }

  &__right {
    @include media(">=desktop") {
      justify-content: flex-end;
    }
  }
}